In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df  = pd.read_csv("/home/hp/DBDA/ML/machine-learning/Assignments/claimants.csv")

In [3]:
df.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

In [4]:
df['CLMSEX'].fillna(df['CLMSEX'].mode()[0], inplace=True)

df['CLMINSUR'].fillna(df['CLMINSUR'].mean(), inplace=True)

df['SEATBELT'].fillna(df['SEATBELT'].mode()[0], inplace=True)

df['CLMAGE'].fillna(df['CLMAGE'].mode()[0], inplace=True)

/tmp/ipykernel_29097/1509882327.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CLMSEX'].fillna(df['CLMSEX'].mode()[0], inplace=True)
/tmp/ipykernel_29097/1509882327.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CLMINSUR'].fillna(df['CLMINSUR'].mean(), inplace=True)
/tmp/ipykernel_29097/1509882327.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['SEATBELT'].fillna(df['SEATBELT'].mode()[0], inplace=True)
/tmp/ipykernel_29097/1509882327.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CLMAGE'].fillna(df['CLMAGE'].mode()[0], inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ATTORNEY  1340 non-null   int64
 1   CLMSEX    1340 non-null   float64
 2   CLMINSUR  1340 non-null   float64
 3   SEATBELT  1340 non-null   float64
 4   CLMAGE    1340 non-null   float64
 5   LOSS      1340 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 62.9 KB

In [6]:
df.corr()

          ATTORNEY    CLMSEX  CLMINSUR  SEATBELT    CLMAGE      LOSS
ATTORNEY  1.000000  0.076564  0.078221 -0.055848 -0.016396 -0.219715
CLMSEX    0.076564  1.000000  0.067088 -0.016327 -0.013789 -0.028412
CLMINSUR  0.078221  0.067088  1.000000  0.021265  0.033229  0.005810
SEATBELT -0.055848 -0.016327  0.021265  1.000000 -0.018020  0.111879
CLMAGE   -0.016396 -0.013789  0.033229 -0.018020  1.000000  0.051575
LOSS     -0.219715 -0.028412  0.005810  0.111879  0.051575  1.000000

In [7]:
x = df.drop('ATTORNEY', axis=1)
y = df['ATTORNEY']

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, train_size=0.7, random_state=123456)

In [9]:
def DT_Model():
    from sklearn.tree import DecisionTreeClassifier
    model = DecisionTreeClassifier(max_depth=5)
    model.fit(x_train,y_train)
    return model

In [10]:
def RF_Model():
    from sklearn.ensemble import RandomForestClassifier
    model = RandomForestClassifier(n_estimators=1000)
    model.fit(x_train, y_train)
    return model

In [11]:
models = [
    (DT_Model(), 'Decision Tree'),
    (RF_Model(), 'Random Forest')
]

In [12]:
def evaluate_model(model, model_name):
    from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

    y_pred = model.predict(x_test)
    y_true = y_test
    accuracy = accuracy_score(y_true, y_pred)
    precision = precision_score(y_true, y_pred)
    recall = recall_score(y_true, y_pred)
    f1 = f1_score(y_true, y_pred)

    return model_name, accuracy , precision, recall, f1

In [13]:
data = []
for (model, model_name) in models:
    data.append(evaluate_model(model, model_name))

result = pd.DataFrame(data, columns=['Algorithm', 'Accuracy','Precision','Recall','F1_Score'])
result

       Algorithm  Accuracy  Precision    Recall  F1_Score
0  Decision Tree  0.684864   0.699422  0.617347  0.655827
1  Random Forest  0.679901   0.671795  0.668367  0.670077