In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
df = pd.read_csv("/home/hp/DBDA/ML/machine-learning/Assignments/claimants.csv")

In [26]:
df.head(10)

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038
5         0     1.0       1.0       0.0    35.0   0.309
6         0     0.0       1.0       0.0     9.0   3.538
7         0     1.0       1.0       0.0    34.0   4.881
8         1     1.0       1.0       0.0    60.0   0.874
9         1     0.0       1.0       0.0     NaN   0.350

In [27]:
df.isna().any()

ATTORNEY    False
CLMSEX       True
CLMINSUR     True
SEATBELT     True
CLMAGE       True
LOSS        False
dtype: bool

In [28]:
df.isna().sum()

ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [29]:
df["CLMSEX"].fillna(df['CLMSEX'].mode()[0],inplace=True)

df['CLMAGE'].fillna(df['CLMAGE'].mean(),inplace=True)

df["SEATBELT"].fillna(df['SEATBELT'].mode()[0],inplace=True)
df["CLMINSUR"].fillna(df["CLMINSUR"].mode()[0],inplace=True)

/tmp/ipykernel_29130/3002985875.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["CLMSEX"].fillna(df['CLMSEX'].mode()[0],inplace=True)
/tmp/ipykernel_29130/3002985875.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CLMAGE'].fillna(df['CLMAGE'].mean(),inplace=True)
/tmp/ipykernel_29130/3002985875.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["SEATBELT"].fillna(df['SEATBELT'].mode()[0],inplace=True)
/tmp/ipykernel_29130/3002985875.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["CLMINSUR"].fillna(df["CLMINSUR"].mode()[0],inplace=True)

In [30]:
df.isna().sum()

ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [31]:
df.describe()

,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS
count,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000
mean,0.488806,0.562687,0.910448,0.016418,28.414422,3.806307
std,0.500061,0.496240,0.285646,0.127124,18.816978,10.636903
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,1.000000,0.000000,10.000000,0.400000
50%,0.000000,1.000000,1.000000,0.000000,28.414422,1.069500
75%,1.000000,1.000000,1.000000,0.000000,40.000000,3.781500
max,1.000000,1.000000,1.000000,1.000000,95.000000,173.604000

In [32]:
df.corr()

          ATTORNEY    CLMSEX  CLMINSUR  SEATBELT    CLMAGE      LOSS
ATTORNEY  1.000000  0.076564  0.076631 -0.055848  0.009886 -0.219715
CLMSEX    0.076564  1.000000  0.065976 -0.016327 -0.022444 -0.028412
CLMINSUR  0.076631  0.065976  1.000000  0.019953  0.044706  0.004641
SEATBELT -0.055848 -0.016327  0.019953  1.000000 -0.025379  0.111879
CLMAGE    0.009886 -0.022444  0.044706 -0.025379  1.000000  0.057641
LOSS     -0.219715 -0.028412  0.004641  0.111879  0.057641  1.000000

In [33]:
# Split the data into x and y

In [34]:
x = df[['CLMAGE', 'CLMSEX', 'SEATBELT', 'CLMINSUR', 'LOSS']]
y = df['ATTORNEY']

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [36]:
x_train,x_test, y_train, y_test = train_test_split(x,y, train_size=0.7, random_state=123456)

In [37]:
# create the models

In [38]:
def create_logistic_regression_model():
    from sklearn.linear_model import LogisticRegressionCV

    model = LogisticRegressionCV(max_iter=1000)
    model.fit(x_train, y_train)
    return model, 'Logistic Regression'

In [39]:
def create_naive_bayes_model():
    from sklearn.naive_bayes import GaussianNB

    model = GaussianNB()
    model.fit(x_train, y_train)
    return model, 'Naive Bayes'

In [46]:
def create_knn_model():
    from sklearn.neighbors import KNeighborsClassifier

    model = KNeighborsClassifier(n_neighbors=6)
    model.fit(x_train, y_train)
    return model, 'KNN'

In [47]:
def create_svm_model():
    from sklearn.svm import SVC

    model = SVC()
    model.fit(x_train, y_train)
    return model, 'SVM'

In [48]:
models = [
    create_logistic_regression_model(), 
    create_naive_bayes_model(),
    create_knn_model(),
    create_svm_model()
]

In [49]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

def evaluate_model(model, model_name):
    # get the predictions
    y_pred = model.predict(x_test)

    # ground truth
    y_true = y_test
    
    # get the accuracy score
    accuracy = accuracy_score(y_true, y_pred)

    # get the precision
    precision = precision_score(y_true, y_pred)

    # get the recall
    recall = recall_score(y_true, y_pred)

    # get the f1 score
    f1 = f1_score(y_true, y_pred)

    return model_name, accuracy, precision, recall

In [50]:
evaluation_rows = []
for (model, model_name) in models:
    evaluation_rows.append(evaluate_model(model, model_name))

In [51]:
df_result = pd.DataFrame(evaluation_rows, columns=['Algorithm', 'Accuracy', 'Precision', 'Recall'])
df_result

             Algorithm  Accuracy  Precision    Recall
0  Logistic Regression  0.692308   0.648760  0.801020
1          Naive Bayes  0.545906   0.517711  0.969388
2                  KNN  0.655087   0.672727  0.566327
3                  SVM  0.672457   0.635593  0.765306