In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv("/home/hp/DBDA/ML/machine-learning/Assignments/book.csv")

In [6]:
df.head(5)

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0

In [8]:
from mlxtend.frequent_patterns import apriori
apriori(df, use_colnames=True, min_support=0.3)

   support    itemsets
0    0.423  (ChildBks)
1    0.431   (CookBks)